* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Benguiat";
  src: url(assets/fonts/Benguiat\ Bold.ttf);
}

body {
    overflow-x: hidden;
}

#preloader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(16, 14, 22, 0.4);
    display: flex;
    justify-content: end;
    align-items: end;
    z-index: 999;

    svg {
        path {
            fill: rgb(11, 12, 16);
            stroke: rgb(168, 194, 226);
            stroke-width: 2;
            stroke-dasharray: 1100;
            stroke-dashoffset: 1100;
        }
    }
}

.containerPai {
    width: 100%;
    min-height: 100vh;
    position: relative
}

section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.secao1 {
    position: relative;
    z-index: 99;
    mask-image: url("assets/images/sign.svg");
    mask-repeat: no-repeat;
    mask-size: 20000vw;
    mask-position: center;

    .bg1 {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .logoBg {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hebertBg{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-size: cover;
        object-fit: cover;
        filter: blur(0);
    }

    .roll {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 2;

        .rollButton {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }

    .secaoBranca {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: transparent;
    }
}

.secao2 {
    background-image: url("assets/images/mobile/bg2_mobile.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    
    img {
        width: 60vw;
    }

    .textoAnimado {
        display: flex;
        position: absolute;
        bottom: 10px;
        left: 250px;
        width: max-content;

        h3 {
            font-family: "Benguiat", sans-serif;
            font-size: 24vw;
            margin-left: 80px;
            mix-blend-mode: color-dodge;
            color: rgb(172, 173, 173);
        }
    }
}

.secao3 {
    position: absolute;
    top: 0;
    left: 0;
    mask-image: url("assets/images/elipse.svg");
    mask-repeat: no-repeat;
    mask-size: 0vw;
    mask-position: center;
    z-index: 999;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(5px);
    }
}